{% extends "layout.html.twig" %}

{% block title %}
    TEZ NEWS | Magagize & News HTML Template
{% endblock %}

{% block content %}

    <div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        {% if articles is not empty %}
            <div class="box-caption">
                <span>{{ tag.nom }}</span>
            </div>
            <!--list-news-cate-->
            <div class="list-news-cate">
                {% for article in articles %}
                    <article class="news-cate-item">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <a href="{{ path('front_article', {
                                    'categorie': article.categorie.slug,
                                    'slug': article.slug,
                                    'id': article.id
                                }) }}">
                                    <img alt="" src="{{ asset('images/product/' ~ article.featuredImage) }}">
                                </a>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3><a href="{{ path('front_article', {
                                        'categorie': article.categorie.slug,
                                        'slug': article.slug,
                                        'id': article.id
                                    }) }}">{{ article.titre }}</a></h3>
                                <div class="meta-post">
                                    <a href="{{ path('front_membre', {
                                        'id': article.membre.id
                                    }) }}">
                                        {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                                    </a>
                                    <em></em>
                                    <span>
                                            {{ article.dateCreation | date('d/m/Y') }}
                                        </span>
                                </div>
                                {{ article.contenu | summary }}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

        {% else %}

            <div class="alert alert-info">Aucun article dans cette catégorie.</div>

        {% endif %}

        <div class="paging">
            <a href="#">Prev</a>
            <a href="#" class="current">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Next</a>
        </div>

    </div>
{% endblock %}